

#buyProduct, #importantid{
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#buyFormContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#fields{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#priceFields{
    width: 45%;
}

#formImage{
    width: 40%;

}
#formImage.img{
    width: 100%;
}
#confirmOrder{
    color: white;
    background-image: linear-gradient( #f5e1a3,#c47d20);
    border: 1px solid #eec489;
}
#cancelOrder:hover{
   color:black;
   border:1px solid black;
    background: none;

}

#formDiscount{
    color: #65023d;
}

#confirmOrder:hover{
    background: none;
    color:saddlebrown;
    border: 1px solid #604427;
}



#descriptionContainer{
    display:flex;
    flex-direction: column;
}

#descriptionField{
    text-align: center;

}